$whiteColor: #ffffff;
$primaryColor: #6286b3;
$primaryColor-light: rgb(183, 204, 218);

$primaryFont: "Poppins", sans-serif;

$whiteColor: #ffffff;
$logoColor: #5f82ad;
$navColor: rgba(0, 0, 0, 0.7);
$lightBlackColor: #999999;

$boxShadowColor: rgba(0, 0, 0, 0.1);
$whiteBgColor: #f7f9fa;

$headingColor: rgba(14, 86, 104, 0.79);
$bannerActionColor: rgba(78, 78, 78, 0.76);

$fontColor: #2c2e2f;

$bannerGradientStartColor: #effaff;
$bannerGradientEndColor: #958bc5;

$bannerColor: #fefaef;
$bannerHeadingColor: #f1d891;
